$background-grey: #e8e8e8;
$text-color: #333;
$erate-blue: #0d3e70;
$erate-orange: #ff6b00;


.edit-mod-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
  width: 100%;
  padding-bottom: 4px;
  padding-top: 4px;

}

.edit-mod-title {
  font-size: 30px;
  color: $erate-blue;
  font-family: 'open sans', sans-serif;
  margin-left: 10px;
}

.mod-help-msg {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  height: 26px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  border-bottom: 1px solid #e8e8e8;

}