$background-grey: #e8e8e8;
$text-color: #333;
$erate-blue: #0d3e70;
$erate-orange: #ff6b00;

.open-details-master-container {
  background-color: rgb(247, 247, 247);
  height: 100%;
  padding-top: 6px;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
}


.vid-details-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

}

.vid-detail-link {
  margin-left: 4px;
  text-decoration: none;
  color: #0d3e70;
  font-style: italic;
}

.track-details-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.addedit-track-btn {
  margin-bottom: 16px;
}

.curr-track-modal-details {
  margin-bottom: 10px;
}

.attached-tracks-modal-title {
  margin-right: 6px;
  font-size: 20px;
  border-bottom: 1px solid #d1d1d1;
}

.attached-tracks-track-container {
  display: flex;
  flex-direction: column;
}

.track-options-container {
  display: flex;
  flex-direction: column;
}

.question-details-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

}

.question-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.add-question-btn {
  width: 120px;
  margin-bottom: 16px;
}

.show-question-btn {
  width: 120px;
}



.box-detail-title {
  font-family: 'Open Sans', sans-serif;
  color: $erate-blue;
  font-size: 20px;
  border-bottom: 1px solid #d1d1d1;
}

.box-detail-title-text {
  margin-left: 16px;
}

.erate-btn {
  background-color: #f2f2f2;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 10%, rgba(0, 0, 0, 0.1) 100%);
  color: $text-color;
  font-weight: 600;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
  font-size: 12px;
}

.erate-btn:hover {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 10%, rgba(0, 0, 0, 0.2) 100%);
}

.delete-mod-btn {
  height: 30px;
}