$background-grey: #e8e8e8;
$text-color: #333;
$erate-blue: #0d3e70;
$erate-orange: #ff6b00;


.vid-details-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.track-details-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.question-details-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

}


.open-details-master-container {
  background-color: rgb(237, 235, 235);
}

.box-detail-title {
  font-family: 'Open Sans', sans-serif;
  color: $erate-blue;
  font-size: 20px;
  border-bottom: 1px solid #d1d1d1;
}

.erate-btn {
  background-color: #f2f2f2;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 10%, rgba(0, 0, 0, 0.1) 100%);
  color: $text-color;
  font-weight: 600;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
  font-size: 12px;
}

.erate-btn:hover {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 10%, rgba(0, 0, 0, 0.2) 100%);
}

.delete-mod-btn {
  height: 30px;
}